appdirs==1.4.4
asttokens==2.1.0
backcall==0.2.0
beautifulsoup4==4.11.1
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
contourpy==1.0.6
cycler==0.11.0
decorator==5.1.1
executing==1.2.0
filelock==3.8.0
fonttools==4.38.0
idna==3.4
ipython==8.6.0
jedi==0.18.2
joblib==1.2.0
kiwisolver==1.4.4
lxml==4.9.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
multitasking==0.0.11
nltk==3.8
numpy==1.23.5
packaging==22.0
pandas==1.5.2
parso==0.8.3
patsy==0.5.3
pickleshare==0.7.5
Pillow==9.3.0
prompt-toolkit==3.0.33
pure-eval==0.2.2
Pygments==2.13.0
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.6
regex==2022.10.31
requests==2.28.1
scikit-learn==1.2.0
scipy==1.10.0
six==1.16.0
sklearn==0.0.post1
snscrape==0.4.3.20220107.dev65+g46a6030
soupsieve==2.3.2.post1
stack-data==0.6.1
statsmodels==0.13.5
threadpoolctl==3.1.0
tqdm==4.64.1
traitlets==5.5.0
urllib3==1.26.12
wcwidth==0.2.5
yfinance==0.1.90
